<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Upload</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Upload/Download Diverse Data</h3>

        <div class="row marketing">
            <div class="col-lg-6">
	        <h4>Upload your data</h4>
                <p>Upload your data here</p>
             </div>

            <div class="col-lg-6">
                <form action ="" method = "POST" enctype = "multipart/form-data">
                 <input type = "file" name = "file" />
                 <input type = "submit"/>
                </form>

            </div>
        </div>


        <div class="row marketing">
            <div class="col-lg-6">
             <h4>Download your data</h4>
             <p>Download your data from here</p>   
            </div>

            <div class="col-lg-6">
              <p style="font-color: grey">Link is coming soon </p>  
            </div>
        </div> 

        <footer class="footer">
            
        </footer>
 
    </div>
</body>
 
</html>
